.grid-level {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-content: space-between;
  padding: 0 30%;
}

.grid-level button {
  padding: 10px;
  margin: 20% 0;
  border: none;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.486);
  color: #fff;
  width: 120px;
  height: 50px;
}

.grid-level button:hover {
  background-color: #fff;
  color: black;
  transition: 0.2s ease-in-out;
}

.title-intro h1 {
  text-align: center;
  padding: 20px;
  background-color: #00000005;
}