.navbar {
  position: relative;
  width: 100%;
  background: transparent;
  height: 90px;
  display: flex;
  font-size: 20px;
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
  justify-content: space-between;
}

#navbar-logo {
  color: #fff;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.7rem;
}

.navbar-menu {
  padding-top: 20px;
  display: flex;
  align-items: center;
  list-style: none;
}

.navbar-item {
  height: 30px;
  font-size: 15px;
}


.navbar-item a:hover {
  color: #fff;
}

.navbar-links--categorias {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  text-decoration: none;
  height: 100%;
  margin-right: 40px;
}

.navbar-links--sobre {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55px;
  text-decoration: none;
  height: 100%;
  margin-right: 40px;
  position: relative;
}

.navbar-links--disable {
  color: #414040;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 110px;
  text-decoration: none;
  height: 100%;
  position: relative;
  font-size: 17px;
}

.navbar-links--sobre::after {
  content: " ";
  width: 0%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.3s ease-in-out;
}

.navbar-links--sobre:hover::after {
  width: 100%;
}

.navbar-links--compartilhe {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 110px;
  text-decoration: none;
  height: 100%;
  position: relative;
}

.navbar-links--compartilhe::after {
  content: " ";
  width: 0%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.3s ease-in-out;
}

.navbar-links--compartilhe:hover::after {
  width: 100%;
}

.categorias-dropdown-content {
  position: relative;
  font-size: 12px;
  padding: 2px 0;
  z-index: 1;
  width: 75%;

  background-color: #fff;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.123);
  text-align: center;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

.navbar-item:hover .categorias-dropdown-content {
  visibility: visible;
  opacity: 1;
}

.categorias-dropdown-content a {
  color: #000000;
  padding: 8px;
  text-decoration: none;
}

.categorias-dropdown-content a:hover {
  color: #000000;
  font-size: 12px;
  background-color: #e4e1e1;
  border-radius: 5px;
}

.navbar-icon a:hover {
  color: #fff;
}

.navbar-links--icon {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  text-decoration: none;
  height: 100%;
  transition: all 0.1s ease;
  margin-top: 30%;
}

.user-dropdown-content {
  margin-top: 5px;
  position: center;
  font-size: 12px;
  padding: 5px;
  z-index: 1;

  background-color: #fff;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.123);

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;

  text-align: center;
}

.navbar-icon:hover .user-dropdown-content {
  visibility: visible;
  opacity: 1;
}

.user-dropdown-content a {
  color: #000000;
  padding: 3px;
  text-decoration: none;
}

.user-dropdown-content a:hover {
  color: #000000;
  font-size: 12px;
  background-color: #e9e6e6;
  border-radius: 5px;
}