.footer-container {
  background-color: #131313;
  padding: 120px;
}

.social-icons {
  text-align: center;
  align-items: center;
}

.social-icon--link {
  color: #fff;
  font-size: 25px;
  padding: 3px;
}

.social-icon--link:hover {
  color: #fff;
}

.social-icon--link i {
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
  transition-delay: 0s;
}

.social-icon--link i:hover {
  transform: translateY(-10px);
}

.social-media--wrap {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 40%;
  padding-top: 40px;
}

.social-media--wrap p {
  color: #fff;
  padding-top: 14px;
}

#footer-logo {
  text-decoration: none;
  color: #fff;
  font-size: 30px;
}

.creditos {
  text-align: center;
  padding-top: 20px;

}

.creditos a {
  text-decoration: none;
  color: #fff;
}

.creditos a:hover {
  color: #6f00ff;
}