.card5 h2 {
  text-align: center;
  font-size: 28px;
}

.card5 {
  margin: 10px;
  height: 425px;
  width: 300px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      #000000 700%
    ),
    url("../../../assets/baka/card/card.jpg");
  background-size: cover;
  transition: 0.3s ease-in;
}

.card5 button {
  border: none;
  outline: none;
  border-radius: 4px;
  font-size: 1rem;
  width: 300px;
}

.card5 button:hover {
  cursor: pointer;
}

.card5:hover {
  transform: scale(1.075);
  transition: 0.3s ease-in;
  cursor: pointer;
}
