.dicas {
  background: #ece9e6;
  background: -webkit-linear-gradient(to right, #ffffff, #ece9e6);
  background: linear-gradient(to right, #ffffff, #ece9e6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 2rem 0;
}

.dicas-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  margin-right: -100px;
  margin-left: 100px;
}

.card3 {
  margin: 10px;
  height: 425px;
  width: 300px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      #000000 700%
    ),
    url("../../../assets/baka/card/card.jpg");
  background-size: cover;
  transition: 0.3s ease-in;
}

.dicas-container {
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 90%;
  z-index: 1;
  width: 100%;
  max-width: 1600px;
  padding: 0 50px;
}

.card3 h2 {
  text-align: center;
  font-size: 28px;
}

.services-btn {
  display: flex;
  justify-content: center;
  opacity: 0;
  height: 260px;
}

.services-btns {
  display: flex;
  justify-content: center;
  opacity: 0;
  height: 140px;
}

.services-btn:hover {
  display: flex;
  justify-content: center;
}

.card3 button {
  border: none;
  outline: none;
  border-radius: 4px;
  font-size: 1rem;
  width: 300px;
}

.card3 button:hover {
  cursor: pointer;
}

.card3:hover {
  transform: scale(1.075);
  transition: 0.3s ease-in;
  cursor: pointer;
}
