.grid-presentation {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.presentation-area {
  padding: 10%;
}

.presentation-extra {
  margin: 0 10% 5% 10%;
  text-align: center;
}

.presentation-extra h1 {
  padding: 10% 0 5% 0;
  font-size: 45px;
}

.grid-presentation--extra {
  display: grid;
}

.grid-presentation--extra button {
  border-radius: 15px;
  padding: 25px;
  margin: 10px;
  text-align: left;
  border: none;
  background-color: var(--second-color);
  font-size: 25px;
  color: var(--main-color);
}

.grid-presentation--extra button:hover {
  background-color: var(--second-main-color);
}

.presentation-area h2 {
  color: var(--second-main-color);
  font-size: var(--size-h2);
}

.presentation-area h1 {
  color: var(--second-color);
  font-family: var(--second-font);
}

.presentation-area p {
  color: var(--second-color);
  font-size: var(--size-p);
  padding-top: 2%;
}
