.text h1 {
  text-align: center;
  font-size: 3rem;
  padding-top: 50px;
  color: black;
}

.about-box {
  display: grid;
  grid-template-columns: 30% 1fr;
  align-items: center;
  justify-items: center;
  padding: 20px;
}

.about-box img {
  border-radius: 50%;
  background-image: url("../../assets/eu/eu.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  width: 250px;
}

.card-title {
  font-size: 25px;
  padding: 5px;
}

.card-text {
  font-size: 20px;
  padding: 5px;
  width: 80%;
}

@media screen and (max-width: 480px) {
  .about-box {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
  }
}
