// import styled from "styled-components";


.home {
  background: linear-gradient(to right, #161616, #000000);
  background-image: url("../../assets/baka/background/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  .home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 90%;
    text-align: center;
  }

  .home-imag {
    margin-bottom: 70px;
    padding: 40px;
  }

  h1 {
    margin-top: 85%;
    font-size: 50px;
    color: var(--main-color);
  }

  p {
    font-size: 30px;
    color: var(--main-color);
  }

  .home-btn {
    font-size: 1.8rem;
    padding: 20px 60px;
    box-shadow: none;
    border-radius: 4px;
    margin-top: 2rem;
    position: relative;
    outline: none;
    background-color: transparent;
    color: var(--main-color);
    border: 1px solid var(--main-color);
    transition: all 0.3s ease-out;

    a {
      position: relative;
      z-index: 2;
      color: var(--main-color);
      text-decoration: none;
    }

    &:hover {
      color: #000000;
      background-color: var(--main-color);
      transform: scale(1.075);
      transition: 0.3s ease-in;
      cursor: pointer;
    }

    &:hover a {
      color: #000000;
    }
  }
}

@media screen and (max-width: 768px) {
  .home-heading {
    margin-top: 40%;
    font-size: 40px;
  }

  .home-description {
    font-size: 20px;
  }
}
