.home {
  background: linear-gradient(to right, #161616, #000000);
  background-image: url("../../assets/baka/background/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 90%;
  text-align: center;
}

.home-imag {
  margin-bottom: 70px;
  padding: 40px;
}

.home-heading {
  margin-top: 85%;
  font-size: 50px;
  color: #fff;
}

.home-description {
  font-size: 30px;
  color: #fff;
}

.highlight {
  border-bottom: 4px solid #fff;
}

.home-btn {
  font-size: 1.8rem;
  padding: 20px 60px;
  box-shadow: none;
  border-radius: 4px;
  margin-top: 2rem;
  position: relative;
  outline: none;
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  transition: all 0.3s ease-out;
}

.home-btn a {
  position: relative;
  z-index: 2;
  color: #fff;
  text-decoration: none;
}

.home-btn:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #fff;
  transition: 0.3s ease-in;
  border-radius: 4px;
}

.home-btn:hover {
  color: #000000;
  background-color: #fff;
  transform: scale(1.075);
  transition: 0.3s ease-in;
  cursor: pointer;
}

.home-btn:hover a {
  color: #000000;
}

@media screen and (max-width: 768px) {
  .home-heading {
    margin-top: 40%;
    font-size: 40px;
  }

  .home-description {
    font-size: 20px;
  }
}
