.info-area {
  margin-top: 60px;
  padding: 80px;
  background-color: #161616;
}

.info-area h1 {
  color: #fff;
  padding-bottom: 20px;
  font-size: 50px;
}

.text-info p {
  font-size: 23px;
  color: rgb(255, 255, 255);
  padding: 20px;
}

.all-info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.info-img {
  background-color: #fff;
  width: 600px;
  height: 250px;
  border-radius: 25px;
  display: grid;
  grid-template-columns: 30% 1fr;
  margin: 0 50px; 
}