.user-update {
  margin: 5% 10%;
  display: grid;
  grid-template-columns: 1fr;
}

.input-user {
  width: 50%;
  height: 50px;
  padding: 10px;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.input-radio {
  display: grid;
  grid-template-columns: 1fr;
  margin: 13px 0;
}

.input-radio h3 {
  font-size: 20px;
}

.button-update {
  width: 200px;
  height: 60px;
  margin-bottom: 5px;
  background-color: black;
  text-decoration: none;
  border: 1px solid black;
  color: #fff;
  font-size: 23px;
}

.user-update h1 {
  margin-bottom: 5%;
  color: black;
  text-align: center;
}

.user-update p {
  text-align: left;
  margin-bottom: 1%;
}

.button-delete {
  margin-left: auto;
  margin-top: 1em;
  width: 100px;
  height: 40px;
  margin-bottom: 5px;
  background-color: rgb(255, 0, 0);
  text-decoration: none;
  border: 1px solid rgb(255, 0, 0);
  border-radius: 15px;
  color: #fff;
  font-size: 15px;
}

input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 15px;
  height: 15px;
  border: 2px solid #333;
  border-radius: 50%;
  outline: none;
  margin-right: 3px;
}

input[type="radio"]:checked {
  background-color: #333;
}

input[type="radio"]:checked+label {
  color: #333;
}

select {
  width: 200px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
  font-size: 14px;
  color: #333;
  background-color: #fff;
}

select:focus {
  outline: none;
  border-color: #333;
}

h3 {
  margin-top: 5px;
  font-size: 20px;
}