.profile-user {
  display: grid;
  grid-template-columns: 30% 1fr;
}

.user-info {
  background-color: rgb(255, 255, 255);
  border-right: solid 1px #5757572d;
}

.user-info {
  position: relative;
  display: inline-block;
}

.user-img {
  height: 60%;
  width: 100%;
}

.user-img img {
  border-radius: 50%;
  height: 350px;
  width: 350px;
  background-color: #fff;
  margin: 15% 0 15% 20%;
}

.user-img input[type="file"] {
  display: none;
}

.user-img label {
  position: absolute;
  top: 27%;
  left: 47%;
  padding: 10px 20px;
  background-color: #00000046;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  opacity: 0;
}

.user-img img {
  position: relative;
}

.user-img:hover label {
  opacity: 1;
}

.user-post {
  background-color: rgb(255, 255, 255);
}

.user-info-base p {
  color: #000000;
  font-size: 20px;
  margin-left: 100px;
  padding: 10px;
}

.user-info-num {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 5% 20% 5% 20%;
  align-items: center;
  justify-items: center;
}

.user-info-num p {
  padding: 5px;
  font-size: 20px;
  color: #000000;
  text-align: center;
}

.user-posts {
  border: #fff solid 2px;
  background-color: #fff;
  border-radius: 5px;
  width: 90%;
  margin: 70px;
  height: 65%;
}

/* #FFF5EE */
.posts-container {
  border: solid 2px rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
  padding: 50px 20px 50px 20px;
  width: 100%;
  height: 550px;
}

.posts-container h2 {
  color: #000000;
  padding-bottom: 50px;
  margin-left: 30px;
}

.posts-space {
  border: solid 2px #26282c;
  border-radius: 20px;
  margin: 20px 30px 20px 30px;
  display: grid;
  grid-template-columns: 1fr 5%;
  transition: 0.3s ease-in;
  align-items: center;
  justify-content: center;
  height: 150px;
  padding: 10px;
  background-color: #26282c;
}

.posts-space a {
  text-decoration: none;
}

.posts-space img {
  border-radius: 20px;
  /* width: 90%; */
  height: 100%;
  width: 90%;
  margin: 0px auto;
}

.posts-space h3 {
  font-size: 1.5rem;
  color: #000000;
}

.posts-space p {
  font-size: 0.8rem;
  color: #000000;
}

.posts-container h2 {
  color: rgb(0, 0, 0);
}

.posts-space:hover {
  transform: scale(1.02);
  transition: 0.3s ease-in;
  cursor: pointer;
}

.link-count {
  text-align: center;
}

.link-count p {
  color: rgb(255, 255, 255);
  font-size: 20px;
}

/* tabs colors */
.nav-link {
  --bs-nav-link-color: #00000091;
  --bs-nav-link-hover-color: #000000;
}

.table {
  background-color: #fff;
}

.delete-button {
  width: 100px;
  height: 40px;
  background-color: rgb(255, 0, 0);
  text-decoration: none;
  border: 1px solid rgb(255, 0, 0);
  border-radius: 15px;
  color: #fff;
  font-size: 15px;
}

.cancelar-button {
  width: 100px;
  height: 40px;
  background-color: rgb(255, 255, 255);
  text-decoration: none;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 15px;
  color: #000000;
  font-size: 15px;
  margin-left: 20px;
  border: 1px solid rgba(0, 0, 0, 0.116);
}

.button-edit {
  margin-left: 80%;
  margin-right: 10%;
  font-size: 25px;
  opacity: 0.2;
}

.button-edit i {
  color: #26282c;
}

.button-edit:hover {
  opacity: 1;
  color: #000000;
}

table {
  color: #000000;
  border-radius: 5px;
  text-align: center;
}

th {
  padding: 0 90px;
}

tr:hover {
  background-color: rgba(187, 187, 187, 0.295);
}

td {
  padding: 15px;
}

.modal-delete {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.137);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content-delete {
  background-color: white;
  padding: 20px;
  width: 30%;
  height: 30%;
  border-radius: 25px;
}

.close-button-delete i {
  font-size: 40px;
}

.modal-content-delete h1 {
  color: black;
  font-size: 20px;
}

.modal-content-delete h2 {
  padding-top: 10px;
  font-size: 15px;
}

.info-modal-user {
  margin-top: 3%;
}

.modal-content-delete h3 {
  padding-top: 7px;
  display: flex;
  align-content: left;
  justify-content: left;
}

.modal-content-delete p {
  display: flex;
  align-content: left;
  justify-content: left;
}

.grid-delete-user {
  display: grid;
  grid-template-columns: 30% 1fr;
}

.grid-delete-user img {
  border-radius: 50%;
  height: 80px;
  width: 80px;
  margin: 20px 40px;
}
