* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'kumbh Sans', sans-serif;
    scroll-behavior: smooth;
}

.navbar {
    position: relative;
    width: 100%;
    background: transparent;  
    height: 80px;
}

.navbar__container {
    display: flex;
    justify-content: center;
    align-items: center; 
    font-size: 1.2rem;
}

.navbar__container{
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

.navbar__container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 600px;
}

#navbar__logo{
    color: #fff;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    margin-left: -400px;
}

.navbar__menu{
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar__item{
    height: 80px;
}

.navbar__links{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    text-decoration: none;
    height: 100%;
    transition: all 0.3s ease;
}


@media screen and (max-width: 960px){
    .navbar__container{
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu{
        display: flex;
        align-items: center;
        margin: 0;
        z-index: 1;
    }

    .navbar__menu.active{
        background: #131313;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 60vh;
        font-size: 1.6rem;
    }

    #navbar__logo{
        padding-left: 25px;
    }

    .navbar__toggle .bar{
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background-color: #fff;
    }

    .navbar__item{
        width: 100%;
    }

    .navbar__links{
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    .navbar__btn{
        padding-bottom: 2rem ;
    }

    .button{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
    }

    #mobile-menu{
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__toggle .bar{
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2){
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
}

/* hero Section */
.hero{
    background: linear-gradient(to right, #161616, #000000); 
    background-image: url("/imagensbaka/background2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.hero__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 90%;
    text-align: center;
}

.hero__imag {
    margin-bottom: 70px;
    padding: 40px;
}

.hero__heading{
    margin-top: 20%;
    font-size: 50px;
    color: #fff;
}

.hero__description{
    font-size: 30px;
    margin-bottom: 2%;
    color: #fff;
    margin-bottom: 5%;
}

.highlight{
    border-bottom: 4px solid #fff;
}

@media screen and (max-width: 768px) {
    .hero__heading{
        font-size: 60px;
    }

    .hero__description{
        font-size: 40px;
    }
}


/* Info Section */
.main{
    background-color: #0c0c0c;
    padding: 3rem 0;
}

.main__container{
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 90%;
    z-index: 1;
    width: 100%;
    max-width: 1600px;
    padding: 0 50px;
}

.main__content{
    color: #fff;
    width: 100%;
}

.main__container h1 {
    margin-top: 100px;
    font-size: 3rem;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 32px;
}

.main__content h2{
    font-size: 4rem;
    background: #12c2e9;
    background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
    background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main__container p {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 700;
}

.main__btn{
    font-size: 1.8rem;
    background: #12c2e9;
    background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
    background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
    padding: 20px 60px;
    border: none;
    border-radius: 4px;
    color: #fff;
    margin-top: 2rem;
    position: relative;
    transition: all 0.35s;
    outline: none;
}

.main__btn a {
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
}

.main__btn:after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #c471ed;
    transition: all 0.35s;
    border-radius: 4px;
}

.main__btn:hover{
    color: #fff;
}

.main__btn:hover::after{
    width: 100%;
}

.main__img--container{
    text-align: center;
}

@media screen and (max-width: 480px){
    .main__img--card{
        width: 250px;
        height: 250px;
    }

    .fa-users, .fa-layer-group{
        font-size: 4rem;
    }

    .main__content h1{
        font-size: 2rem;
        margin-top: 3rem;
    }

    .main__content h2{
        font-size: 3rem;
    }

    .main__container p {
        margin-top: 1rem;
        font-size: 1.5rem;
    }

    .main__btn{
        padding: 12px 36px;
        margin: 2.5rem 0;
    }
}