nav {
  background-color: #131313;
}

.jlpt-logo {
  text-align: center;
  padding: 20px;
  background-color: #00000005;
}

.bread-itens-jlpt {
  padding: 35px 0 10px 40px;
}

.bread-itens-jlpt a {
  color: #fff;
  text-decoration: none;
}

.bread-itens-jlpt a:hover {
  color: #fff;
}

.background {
  background-image: linear-gradient(to right, #ffffffef, #ffffffe5),
    url("../../../../assets/baka/background/background2 - Black.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 70px;
}

.background h1 {
  font-family: "Murecho", sans-serif;
  color: #444343;
  text-align: center;
}

.config-text h3 {
  padding-top: 40px;
  font-size: 25px;
  color: #444343;
  margin: 0 30px 0 30px;
  padding-bottom: 15px;
}

.config-text a {
  text-decoration: none;
  color: #535050;
  font-size: 20px;
}

.config-text a:hover {
  color: #c2cbd0;
}

.jlpt-home {
  padding: 80px 100px;
  margin: 0 100px 0 100px;
  display: grid;
  grid-template-columns: 60% 1fr;
  text-align: center;
}

.jlpt-home a {
  font-size: 25px;
}

.jlpt-home iframe {
  width: 95%;
  margin: 70px auto;
}

.jlpt-home h2 {
  color: #000000;
  font-size: 40px;
  padding-bottom: 10px;
}

.p-center {
  text-align: center;
  margin-bottom: 50px;
}

.jlpt-about {
  text-align: center;
  margin: 0 300px 0 300px;
}

.table-jlpt {
  padding: 40px 100px 30px 100px;
}

.table-jlpt h3 {
  text-align: center;
  margin: 0 200px 0 200px;
}

.link-consulado {
  padding-top: 40px;
  text-align: center;
}

.jlptlist-content {
  color: #000000;
  text-align: center;
  margin: 150px 400px 0px 400px;
}

.grid-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  padding-top: 50px;
  margin: 0 300px 0 300px;
}

.center-items p {
  font-size: 10px;
  color: #535050;
}

.grid-img {
  display: grid;
  grid-template-columns: 40% 1fr;
  align-items: center;
  justify-items: center;
  margin: 50px 120px 50px 280px;
  text-align: center;
}

.grid-img h3 {
  padding: 30px;
}

.grid-img img {
  width: 700px;
  height: 470px;
}

.grid-img h3 {
  padding-bottom: 100px;
}

.tabs-config {
  font-size: 20px;
  padding: 2rem 2rem;
  border: 0.5rem solid rgb(255, 255, 255);
  box-shadow: 0 0 1rem #c2cbd0;
  border-radius: 5px;
  height: 350px;
  width: 600px;
  background-color: #fff;
}

.tabs-config p {
  font-size: 18px;
}

.video-gird {
  width: 50%;
  margin: 0 auto;
}

@media screen and (max-width: 1700px) {
  .grid-img h3 {
    padding: 0px 90px;
  }

  .grid-img {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    margin: 100px 0 0 0;
    text-align: center;
  }

  .jlpt-home iframe {
    width: 60%;
    margin: 70px auto;
    height: 400px;
  }

  .jlpt-home {
    padding: 80px 0;
    margin: 0 100px 0 100px;
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
  }

  .grid-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    padding-top: 50px;
    margin: 0 100px 0 100px;
  }

  .video-gird {
    width: 55%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1600px) {
  .video-gird {
    width: 60%;
    margin: 0 auto;
  }

  .jlptlist-content {
    text-align: center;
    margin: 150px 200px 0px 200px;
  }
}

@media screen and (max-width: 1440px) {
  .jlpt-home {
    padding: 20px 30px;
    margin: 0 100px 0 100px;
    display: grid;
    grid-template-columns: 1fr;
  }

  .jlpt-home iframe {
    width: 95%;
    margin: 70px auto;
    height: 600px;
  }

  .grid-img {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    margin: 100px 0 0 0;
    text-align: center;
  }

  .grid-img h3 {
    padding: 20px;
  }

  .grid-img img {
    width: 900px;
    height: 540px;
  }

  .grid-card {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    padding-top: 50px;
    margin: 0 0 0 0;
  }

  .tabs-config {
    font-size: 20px;
    padding: 2rem 2rem;
    border: 0.5rem solid rgb(255, 255, 255);
    box-shadow: 0 0 1rem #c2cbd0;
    border-radius: 5px;
    height: 350px;
    width: 600px;
    background-color: #fff;
  }

  .jlpt-about {
    text-align: center;
    margin: 0 100px 0 100px;
  }

  .jlptlist-content {
    color: #000000;
    text-align: center;
    margin: 150px 100px 0px 100px;
  }

  .background h3 {
    font-size: 20px;
  }

  .video-gird {
    width: 65%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1280px) {
  .video-gird {
    width: 75%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1024px) {
  .jlpt-home iframe {
    width: 100%;
    margin: 70px auto;
    height: 400px;
  }

  .jlpt-home {
    padding: 80px 0;
    margin: 0 50px 0 50px;
    display: grid;
    grid-template-columns: 1fr;
  }

  .grid-img img {
    width: 700px;
    height: 430px;
  }

  .video-gird {
    width: 90%;
    margin: 0 auto;
  }

  .table-jlpt {
    padding: 40px 5px 30px 5px;
  }
}

@media screen and (max-width: 820px) {
  .video-gird {
    width: 85%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  .video-gird {
    width: 90%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 767px) {
  .grid-img img {
    width: 360px;
    height: 240px;
  }

  .jlpt-about {
    text-align: center;
    margin: 0 50px 0 50px;
  }

  .table-jlpt h3 {
    text-align: center;
    margin: 0 50px 0 50px;
  }

  .jlptlist-content {
    margin: 0px 50px 0px 50px;
  }

  .jlptlist-content h3 {
    margin: 0 0 0 0;
  }

  .jlpt-home iframe {
    width: 100%;
    margin: 70px auto;
    height: 195px;
  }

  .jlpt-home {
    padding: 0 0 40px 0;
    margin: 0 20px 0 20px;
    display: grid;
    grid-template-columns: 1fr;
  }

  .tabs-config {
    font-size: 15px;
    padding: 1rem 1rem;
    border: 0.5rem solid rgb(255, 255, 255);
    box-shadow: 0 0 1rem #c2cbd0;
    border-radius: 5px;
    height: 260px;
    width: 350px;
    background-color: #fff;
  }

  .table-jlpt {
    padding: 40px 0px 30px 0px;
  }

  .table-jlpt td,
  th {
    font-size: 10px;
  }
}
